<script src="{{ "/assets/js/jquery-2.1.1.min.js" | prepend: site.url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "/assets/js/index.js" | prepend: site.url }}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js" type="text/javascript" charset="utf-8"></script>