<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | prepend: site.url }}" />
	<link rel="stylesheet" type="text/css" href="{{ "/assets/css/index.css" | prepend: site.url }}" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css"/>
	<meta name="google-site-verification" content="HKXi0BlkkUN6KL6xreogTMw6LNw7f_uH3CgCEbKAYlw" />
</head>